<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Cheryl L. Hall CPA, P.C.</title>
    <meta name="description" content="Your Business is Your Expertise, Accounting for it Is Ours">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{root}}assets/css/app.css" charset="utf-8">
  </head>


  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="site-container">

      {{> navigation}}

      <main class="site-inner">

        {{> body}}

      </main>

      {{> footer}}

    </div>

    <!-- Scripts -->
    <script src="{{root}}/assets/js/jquery.slim.min.js"></script>
    <script src="{{root}}/assets/js/app.js"></script>
  </body>
</html>
